.footer {
  background: black;
  padding: 0;
  border-top: 1px solid gold;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: gold;
}
.footer a {
  color: gold;
}
.footer .container p {
  margin: 0 auto;
  padding: 0;
}
